* {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1600px;
}

/* header */
header {
  padding: 40px;
  font-size: 48px;
  letter-spacing: 2px;
  color: rgb(62, 61, 61);
  width: 100%;
}


#portfolio-text {
  color:rgb(163, 161, 161);
  letter-spacing: 3px;
}

nav {
  display: flex;
  background-color: rgb(62, 61, 61);
  width: 100%;
}
  
nav a {
  color: rgb(91, 90, 90);
  font-size: 18px;
  padding: 18px 38px;
  margin-left: 6px;
  text-decoration: none;
  text-align: left;
  color: white;
}

/* hero image */
.hero {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 75px; 
  width: 100%;
}

/* body */
main {
  color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* about */
#about {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.about-heading { 
  align-items: flex-start;
  text-align: end;
  font-size: 30px;
  letter-spacing: 2px;
  min-width: 200px;
  max-width: 200px;
}

.vl {
  align-items: stretch;
  border-right: 3px solid grey;
  margin-left: 60px;
  margin-right: 60px;
}

.about-details {
  font-size: 20px;
}

/* work */
#work {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.work-heading {
  align-items: flex-start;
  text-align: end;
  font-size: 30px;
  letter-spacing: 2px;
  min-width: 200px;
  max-width: 200px;
}

#pasta-parent {
  background-image: url('../images/italian_food_recipes_site.jpg');
  flex-basis: 98%;
}

.italian-food-project {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* design */
#design {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.design-heading {
  align-items: flex-start;
  text-align: end;
  font-size: 30px;
  letter-spacing: 2px;
  min-width: 200px;
  max-width: 200px;
}

.img-container {
  min-height: 400px;
  min-width: auto;
  margin: 0 1%;
  margin-left: 0px;
  flex-basis: 50%;
  background-repeat: no-repeat;
	background-size: cover;
  border-radius: 10px;
}

#yosemite-parent {
  background-image: url("../images/yosemite.jpg")
  }

#travel-parent {
  background-image: url("../images/Travel_Polynesia.jpg");
}

.yosemite {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}


/* contact */
#contact {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.contact-heading {
  align-items: flex-start;
  text-align: end;
  font-size: 30px;
  letter-spacing: 2px;
  min-width: 200px;
  max-width: 200px;
}

.contact-details {
  font-size: 20px;
}

#cory-parent {
  background-image: url("../images/cory_profile.jpg"); 
}
.img-container-cory {
  min-height: 300px;
  min-width: 350px;
  margin: 0 1%;
  margin-left: 0px;
	background-size: cover;
  border-radius: 10px;
}

/* resume */
#resume {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.resume-heading {
  align-items: flex-start;
  text-align: end;
  font-size: 30px;
  letter-spacing: 2px;
  min-width: 200px;
  max-width: 200px;
}

.resume-details {
  font-size: 20px;
  flex: 0 1 80%;
  line-height: 1.4;
}

/* media screen */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

#about {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.about-heading { 
  margin-left: -64px;
  margin-bottom: 30px;
}

.about-details{
  margin-left: 40px;
  margin-right: 40px;
}
#work {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.work-heading { 
  margin-left: -78px;
  margin-bottom: 30px;
}

.italian-food-project {
  margin-left: 60px;
}  
#design {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.design-heading { 
  margin-left: -45px;
  margin-bottom: 30px;
}

.img-container {
  min-height: 400px;
  min-width: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
	background-size: cover;
  border-radius: 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.contact-heading { 
  margin-left: -24px;
  margin-bottom: 30px;
}
.contact-details{
  margin-left: 56px;
  margin-bottom: 30px;
}

.img-container-cory {
  min-height: 550px;
  min-width: 300px;
  margin: 0 1%;
  margin-left: -8px;
  margin-right: 40px;
  flex-basis: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#resume {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.resume-heading { 
  margin-left: -23px;
  margin-bottom: 30px;
}

.resume-details{
  margin-left: 50px;
  margin-right: 50px;
}


.vl {
  display: none;
}
}